*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#eef3f8;
    padding:40px;
}

.container{

    max-width:900px;
    margin:auto;

    background:white;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    overflow:hidden;

}

.header{

    background:#0A3D62;

    color:white;

    text-align:center;

    padding:30px;

}

.logo{

    width:120px;

    margin-bottom:15px;

}

.header h1{

    font-size:34px;

}

.header h2{

    margin-top:10px;

    font-weight:400;

    color:#dbeafe;

}

.verified{

    background:#16a34a;

    color:white;

    text-align:center;

    padding:15px;

    font-size:24px;

    font-weight:bold;

}

.certificate-box{

    display:flex;

    gap:40px;

    padding:40px;

}

.photo-section{

    width:220px;

}

.photo-section img{

    width:100%;

    border-radius:10px;

    border:5px solid #0A3D62;

}

.details{

    flex:1;

}

.details p{

    margin-bottom:18px;

    font-size:18px;

    line-height:1.6;

}

.footer{

    background:#f7f7f7;

    padding:25px;

    text-align:center;

    font-size:18px;

}

.footer strong{

    color:#0A3D62;

}

@media(max-width:768px){

.certificate-box{

flex-direction:column;

}

.photo-section{

width:100%;

text-align:center;

}

.photo-section img{

width:220px;

}

.header h1{

font-size:24px;

}

}
